<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>HATA</title>
</head>
<body>

<div layout:fragment="content">
    <div class="container main-content">
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger"><h3 th:text="${error}">Durum</h3></li>
            <li class="list-group-item" th:text="'Durum kodu: '+ ${status}"></li>
        </ul>
        <p><a href="/" th:href="@{/}">Anasayfaya dön</a></p>
    </div>
</div>

</body>
</html>