<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Anasayfa</title>
</head>
<body>

    <div layout:fragment="content">
        <div class="jumbotron main-content">
            <h1>Bizim Semt'e hoşgeldin <span th:text="${#session.getAttribute('loggedInUser').getUsername()}"></span></h1>
            <p>Semtimizdeki bütün yerel dükkanları burada bulabilir, sipariş verebilir veya alışveriş listenizi bölgenizde duyurabilirziniz!</p>
        </div>
        <div class="container">
            <h3>Ne yapmak istiyorsunuz?</h3>
            <ul>
                <li><a th:href="@{/orders}">Siparişlere bakacağım</a></li>
            </ul>
        </div>
    </div>

</body>
</html>