<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Bizim Semt | Müşteriler</title>
    <link href="../static/css/site.css" th:href="@{/css/site.css}" rel="stylesheet"/>
    <link href="../static/css/album.css" th:href="@{/css/album.css}" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content">
    <div class="container main-content">
        <div class="row">
            <div class="col-7">
                <h3>Müşteri Ara</h3>
            </div>
        </div>
        <div class="form-group blu-margin">
            <form action="#" th:action="@{/clients/fetch}" th:object="${selectedClient}" method="post">
                <select class="form-control" th:field="*{id}" th:id="clientDropdown">
                    <option value="0">Müşteri Seç</option>
                    <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.name}"></option>
                </select>
                <input type="submit" value="Search!"/>
                <input type="reset" value="Reset"/></p>
            </form>
        </div>
    </div>
</div>
</body>
</html>